autostart/
Cadence
cef_user_data
configstore
dconf
Dharkael
discord
eog
epiphany
evolution
gconf
gnome-boxes
gnome-control-center
gnome-session
goa-1.0
google-chrome
google-chrome-unstable
gtk-2.0
gtk-3.0
gtk-4.0
ibus
Joplin
joplin-desktop
libvirt
lutris
menus
nautilus
neofetch
nitrogen
pulse
spotify
Turtl
turtl
yay
yelp
dleyna-renderer-service.conf
dleyna-server-service.conf
mimeapps.list
monitors.xml
monitors.xml~
pavucontrol.ini
QtProject.conf
user-dirs.dirs
user-dirs.locale
Code